<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Reset Password</h2>
        <form id="resetPasswordForm" action="{{ url_for('reset_password', token=token) }}" method="POST">
            <div class="form-group">
                <label for="signupPassword">Password</label>
                <input type="password" class="form-control" id="signupPassword" name="password" required>
            </div>
            
            <div class="form-group">
                <label for="signupConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="signupConfirmPassword" name="confirm_password" required>
            </div>
            
            <div class="form-group">
                <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
                <label for="showPassword">Show Password</label>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
    </div>
    
    <script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('signupPassword');
        const confirmPasswordInput = document.getElementById('signupConfirmPassword');
        const isChecked = document.getElementById('showPassword').checked;
    
        if (isChecked) {
            passwordInput.type = 'text'; // Show password
            confirmPasswordInput.type = 'text'; // Show confirm password
        } else {
            passwordInput.type = 'password'; // Hide password
            confirmPasswordInput.type = 'password'; // Hide confirm password
        }
    }

    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
        const passwordInput = document.getElementById('signupPassword');
        const confirmPasswordInput = document.getElementById('signupConfirmPassword');
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        // Check if the passwords match
        if (password !== confirmPassword) {
            event.preventDefault(); // Prevent form submission
            alert("Passwords do not match!"); // Alert the user
        }
    });
    </script>
</body>
</html>
